<%- include("partials/header"); -%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <i class="fas fa-solar-panel fa-1x" href="#"></i>
        <span>Solar Savings</span><div id="subscript">(are solar shingles worth it?)</div>
    </a>
</nav>

<div class="container">

    <h1 class="my-1">Time-Cost Analysis Calculator</h1>

    <form action="/data" method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label class="my-1" for="standardRoofCostPerUnit">Select a traditional roof type</label>
                    <select class="form-control" name="standardRoofCostPerUnit" id="standardRoofCostPerUnit">
                        <option value="100">Asphalt (cheapest)</option>
                        <option value="180">Tile (standard)</option>
                        <option value="260">Slate (expensive)</option>
                    </select>
                </div>
                <div class="col-3">
                    <label class="my-1" for="houseLength">Enter house length in meters</label>
                    <input type="text" class="form-control" name="houseLength" id="houseLength" placeholder="length">
                </div>
                <div class="col-3">
                    <label class="my-1" for="houseWidth">Enter house width in meters</label>
                    <input type="text" class="form-control" name="houseWidth" id="houseWidth" placeholder="width">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="my-1" for="percentageSolar">Enter the percentage of your roof to be covered by solar shingles</label>
                    <div class="range-wrap">
                        <div class="range-value" id="rangeV"></div>
                        <input name="percentageSolar" id="percentageSolar" type="range" min="1" max="100" value="50" step="1">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<script type="text/javascript" src="/javascripts/slider.js"></script>
</body>
</html>