<!DOCTYPE html>
<html>
    <head>
        <title>Solar Savings</title>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <i class="fas fa-solar-panel fa-1x" href="#"></i>
            <span>Solar Savings</span><div id="subscript">(are solar tiles worth it?)</div>
        </a>
    </nav>

    <div class="container">

        <h1 class="my-1">Time-Cost Analysis Calculator</h1>

        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="my-1" for="EV">Select a traditional roof type</label>
                        <select class="form-control" id="roofType">
                            <option>Clay Tile (cheapest)</option>
                            <option>Asphalt (standard)</option>
                            <option>Slate (expensive)</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="my-1" for="area">Enter the area of your house</label>
                        <input type="text" class="form-control" id="area">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="my-1" for="percentageCovered">Sales Tax</label>
                        <input id="percentageCovered" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                    </div>
                </div>

            </div>  
        </form>

    </div>
</body>

</html>