h1{
    text-align: center;
}


.row{
    margin-bottom: 1em;
}

form{
    margin-top:1em;
}

button.btn{
    margin:0 auto;
    display:block;
}

#subscript{
    font-size: xx-small;
    margin-top: 15px;
    float: right;
    margin-left:1px;
}

#toggle{
    float:right;
}

canvas{
    width:400px !important;
    height:400px !important;
  }